
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Decorama</title>
    <link href="~/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <link href="~/plugins/bower_components/summernote/dist/summernote.css" rel="stylesheet" />
</head>
<body class="fix-sidebar">
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="wrapper">

        @RenderBody()
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/assets/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/sidebar-nav/dist/sidebar-nav.min.js"></script>

    <script src="~/plugins/bower_components/summernote/dist/summernote.min.js"></script>
    <script src="~/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
</html>

